<div class="create-account">
  <strong><h2>Create your account</h2></strong>
</div>
<div class="signup-form" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name, required: true, autofocus: true, input_html: { autocomplete: "first name" } %>
      <%= f.input :last_name, required: true, autofocus: true, input_html: { autocomplete: "last name" } %>
      <%= f.input :date_of_birth, as: :string, required: true, input_html: { data: { autocomplete: "date of birth", controller: "datepicker" } } %>
      <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" } %>
      <%= f.input :phone_number, required: true, autofocus: true, hint: ("9 digits minimum and 12 maximum"), input_html: { autocomplete: "phone number" } %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>

      <!-- Avatar Image Upload -->
      <%= f.input :avatar, as: :file, label: "Profile Picture", input_html: { accept: "image/*" } %>

    </div>
    <div class="signup-form" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
      <%= f.button :submit, "Sign up",class: "loginmenu-button" %>
    </div><br>
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
    <p>Press here to go  <%= link_to "back", :back %></p>
    </div>
  <% end %>
</div>
