<div class = recover-password><h2>Retrieve password</h2></div>
<div class="recover-form" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="loginmenu-button">
    <%= f.button :submit, "Send" %>
  </div><br>
  <%= link_to "Back", :back %>
<% end %>
</div>
