<div class="navbar navbar-expand-sm navbar-light navbar-stepswap">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "StepSwap.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">

  <ul class="navbar-nav me-auto">
  <li class="nav-item nav-home">
    <%= link_to "Home", root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
  </li>

  <li class="nav-item nav-group">
    <%= link_to "Browse shoes", shoes_path, class: "nav-link #{'active' if current_page?(shoes_path)}" %>
    <%= link_to "My bookings", bookings_path, class: "nav-link #{'active' if current_page?(bookings_path)}" %>
    <%= link_to "Wishlist", root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
  </li>

  <li class="nav-item nav-actions">
    <%= link_to "My Shop", my_list_shoes_path, class: "nav-link #{'active' if current_page?(my_list_shoes_path)}" %>
    <%= link_to "Add to Marketplace", new_shoe_path, class: "nav-link #{'active' if current_page?(new_shoe_path)}" %>
  </li>
</ul>


<!-- Authentification: Login ou Avatar -->
<ul class="navbar-nav">
  <% if user_signed_in? %>
    <!-- Avatar Dropdown -->
    <li class="nav-item dropdown">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= image_tag "default-avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>

      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Profile", profile_path, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
      </div>
    </li>
  <% else %>
    <!-- Login Button -->
    <li class="nav-item">
      <%= link_to "Login", new_user_session_path, class: "nav-link text-white login" %> <!-- Bouton Login -->
    </li>
  <% end %>
</ul>

    </div>
  </div>
</div>
