<div class="navbar navbar-expand-sm navbar-light navbar-stepswap">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "StepSwap.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Groupe Home proche du logo -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item nav-home">
          <%= link_to "Home", root_path, class: "nav-link text-white" %>
        </li>

        <!-- Groupe "Browse Shoes", "My Reservations", "Wishlist" -->
        <li class="nav-item nav-group">
          <%= link_to "Browse shoes", shoes_path, class: "nav-link text-white" %>
          <%= link_to "My bookings", bookings_path, class: "nav-link text-white" %>
          <%= link_to "Wishlist", root_path, class: "nav-link text-white" %>
        </li>

        <!-- Groupe "My Listings" et "Publish a Listing" -->
        <li class="nav-item nav-actions">
          <%= link_to "My listings", my_list_shoes_path, class: "nav-link text-white" %>
          <%= link_to "Publish a listing", new_shoe_path, class: "nav-link text-white" %>
        </li>
      </ul>

      <!-- Authentification: Login ou Avatar -->
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <!-- Avatar Dropdown -->
          <li class="nav-item dropdown">
            <%= image_tag current_user.avatar_url || "default-avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
            </div>
          </li>
        <% else %>
          <!-- Login Button -->
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white login" %> <!-- Bouton Login -->
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
