
<div class="bg-light">

<div class="container my-5">
  <div class="border-wrapper">
    <h1 class="mb-4 text-center">Available shoes for rent</h1>

    <%= render 'filter_form' %>

    <div class="shoe-list row">
      <% @shoes.each do |shoe| %>
        <div class="col-md-4 mb-4">
          <div class="card shadow-sm" style="height: 100%; border-radius: 14px;">
            <!-- Image of the shoe -->
            <% if shoe.photo.attached? %>
              <%= cl_image_tag shoe.photo.key,
                               transformation: { width: 300, height: 200, crop: :fill },
                               class: "card-img-top",
                               style: "object-fit: cover; height: 200px; border-top-left-radius: 14px; border-top-right-radius: 14px;",
                               alt: shoe.title,
                               title: shoe.title %>
            <% else %>
              <img class="card-img-top"
              src="<%= asset_path('default-image.jpg') %>"
              alt="<%= shoe.title %>"
              title="<%= shoe.title %>"
              style="object-fit: cover; height: 200px; border-top-left-radius: 14px; border-top-right-radius: 14px;">
            <% end %>

            <div class="card-body">
              <h5 class="card-title"><%= shoe.title %></h5>
              <p class="card-text mb-3">
                <strong>Brand:</strong> <%= shoe.brand %><br>
                <strong>Size:</strong> <%= shoe.size %><br>
                <strong>Condition:</strong> <%= shoe.condition.capitalize %><br>
                <strong>Price per Day:</strong> $<%= shoe.price_per_day %><br>
                <strong>Average rating:</strong>
                <% if shoe.reviews.any? %>
                  <% average_rating = shoe.reviews.average(:rating).to_f.round(1) %>
                  <%= average_rating %>/5
                  <span class="star">&#9733;</span>
                <% else %>
                  No reviews yet
                <% end %>
              </p>

              <div class="d-flex justify-content-between">
                <%= link_to 'View Details', shoe_path(shoe), class: 'btn btn-success btn-sm' %>
                <% if current_user %>
                  <% if current_user.wishlist.shoes.include?(shoe) %>
                    <%= link_to remove_item_path(shoe_id: shoe.id, from_action: "index"), data: {turbo_method: :delete} do %>
                      <i class="fa-solid fa-heart fa-2xl" style="color: #B197FC;"></i>
                    <% end %>
                  <% else %>
                    <%= link_to add_item_path(shoe_id: shoe.id, from_action: "index"), data: {turbo_method: :post} do %>
                      <i class="fa-regular fa-heart fa-2xl wishlist" style="color: #B197FC;"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
