<div class="container">
  <h1>New shoe</h1>

  <div class="shoe-form">
    <%= simple_form_for @shoe, url: shoes_path, local: true do |f| %>
      <!-- Booking Dates -->
      <%= f.input :brand, as: :string, label: "Brand", required: true, input_html: { class: "form-control" } %>
      <%= f.input :size, as: :integer, label: "Size", required: true, input_html: { class: "form-control" } %>
      <%= f.input :condition, as: :string, label: "Condition", input_html: { class: "form-control" } %>
      <%= f.input :price_per_day, as: :decimal, label: "Price per day", input_html: { class: "form-control" } %>
      <%= f.input :description, as: :text, label: "Description (optional)", input_html: { class: "form-control" } %>
      <%= f.input :shoe_url, as: :string, label: "Link to shoe image", input_html: { class: "form-control" } %>

      <!-- Submit Button -->
      <div class="form-group">
        <%= f.submit 'Confirm creation', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
